body,
.player,
.header,
.btn-container,
.btn,
.cd-img-container,
.title-container,
.song-picture-container,
.song-info-container,
.playlist,
.playlist__song,
.playlist__song-info,
.playlist__container,
.toggle-button {
  display: flex;
  justify-content: center;
  align-content: center;
}

body {
  background-color: orange;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: orange;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border: 2px solid rgb(247, 128, 55);
  width: 400px;
  height: 700px;
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: 20px 20px 50px #333;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Toggle button */

.toggle-button {
  position: absolute;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.toggle-button__inner {
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transition: transform 0.3s linear, background 0.3s linear;
}

.toggle-button__inner::before,
.toggle-button__inner::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: transform 0.3s linear;
}

.toggle-button__inner::before {
  transform: translateY(-10px);
}
.toggle-button__inner::after {
  transform: translateY(10px);
}

.toggle-button.active .toggle-button__inner {
  background-color: transparent;
  transform: translateX(-50%);
}

.toggle-button.active .toggle-button__inner::before {
  transform: rotate(45deg) translate(10px, -10px);
}
.toggle-button.active .toggle-button__inner::after {
  transform: rotate(-45deg) translate(10px, 10px);
}

/* Playlist */

.playlist {
  position: absolute;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(240, 132, 45);
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  gap: 10px;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s linear;
}

.playlist.active {
  opacity: 1;
  transform: translateX(0);
}

.playlist__header {
  font-family: Arial, Helvetica, sans-serif;
  border-top-left-radius: 18px;
  color: white;
  height: 40px;
  font-size: 3rem;
  font-weight: 900;
  padding-top: 10px;
  cursor: default;
}

.playlist__container {
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding-top: 130px;
  width: 100%;
  height: 100%;
  gap: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

.playlist__song {
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  min-height: 60px;
  width: 96%;
  border-radius: 3px;
  background-color: white;
}

.playlist__song.active {
  background-color: rgba(133, 168, 157, 0.842);
  color: white;
  box-shadow: 3px 3px 10px orangered;
}

.playlist__song-info {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 16px;
}

.playlist__song-author {
  opacity: 0.7;
}

.playlist__song-img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 4px;
}

/* Message */

.header {
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.message {
  align-self: center;
  color: orange;
  z-index: 10;
  padding-top: 50px;
  position: absolute;
  top: 1%;
  font-size: 2rem;
  font-weight: 300;
  font-family: "Praise", cursive;
}

/* Title */

.header__title,
.header__song-author {
  color: white;
  z-index: 0;
  align-self: center;
  display: inline-block;
}

.title-container {
  position: absolute;
  justify-content: space-around;
  background-color: rgba(170, 233, 233, 0.329);
  box-shadow: 0 -10px 10px rgba(255, 131, 57, 0.3);
  width: 184px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 50px;
  top: 0;
  opacity: 0;
  right: 6%;
  z-index: 0;
  transition: transform 0.2s linear, opacity 0.2s linear;
}

.song-picture-container {
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 50%;
  background-color: black;
  margin-top: 6px;
  position: absolute;
  left: 20px;
}

.song-picture {
  width: inherit;
  align-self: center;
}

.playing .title-container {
  transform: translateY(-100%);
  opacity: 1;
}

.song-info-container {
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 6px;
  right: 18px;
}

.header__title {
  font-size: 1.2rem;
}

.header__song-author {
  font-size: 1rem;
  opacity: 0.7;
}

.progress {
  -webkit-appearance: none;
  position: absolute;
  top: 70%;
  width: 80%;
  height: 2px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  border-radius: 10px;
  -webkit-transition: 0.2s linear;
  transition: opacity 0.2s linear;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 5px;
  background: rgb(247, 151, 91);
  cursor: pointer;
  border-radius: 4px;
}

.progress::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

/* Body */

.player {
  position: absolute;
  top: 58%;
  width: 70%;
  height: 60px;
  box-shadow: 3px 3px 20px rgba(255, 131, 57, 0.5);
  align-self: center;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 131, 57, 0.5);
  border-radius: 20px;
  z-index: 10;
}

.panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: wheat;
  border-radius: 20px;
  box-shadow: 3px 3px 20px rgba(255, 131, 57, 0.5);
  background-color: rgba(255, 131, 57, 0.9);
  z-index: 1;
}

.player .icon-pause {
  display: none;
}

.playing .icon-pause {
  display: inline-block;
}

.playing .icon-play {
  display: none;
}

.btn {
  cursor: pointer;
  color: orange;
  margin: auto;
  width: 30px;
  height: 30px;
  font-size: 1.6rem;
  opacity: 1;
}

.cd-img-container {
  position: absolute;
  transform: translateY(-25%);
  border: 3px solid rgba(255, 131, 57, 0.5);
  box-shadow: 3px 3px 10px rgba(255, 131, 57, 0.5);
  left: -23px;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}

.cd-img {
  width: inherit;
  animation: spin 6s linear infinite forwards;
  animation-play-state: paused;
}

.btn-container {
  position: absolute;
  justify-content: space-around;
  align-items: center;
  width: 180px;
  height: 50px;
  right: 10px;
}

.playing .cd-img {
  animation-play-state: running;
}

.next-btn,
.prev-btn {
  font-size: 1.8rem;
}

.prev-btn {
  color: orange;
  transform: rotate(180deg);
  z-index: 2;
}

.play-btn {
  font-size: 2.8rem;
}

.icon {
  align-self: center;
  color: white;
  z-index: 4;
}
.replay-btn {
  font-size: 1.2rem;
  top: 30px;
  left: 100px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.icon-replay,
.icon-random {
  transition: color 0.2s linear;
}

.replay-btn.pressed .icon-replay {
  color: red;
}

.random-btn.pressed .icon-random {
  color: red;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
