body,
.player,
.header {
  display: flex;
  justify-content: center;
  align-content: center;
}

body {
  background-color: orange;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: orange;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 700px;
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: 20px 20px 50px #333;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.header__title,
.header__song-author,
.message {
  align-self: center;
  color: orange;
  z-index: 10;
  padding-top: 150px;
  position: absolute;
}

.message {
  padding-top: 50px;
  position: absolute;
  top: 1%;
  font-size: 2rem;
  font-weight: 300;
  font-family: "Praise", cursive;
}

.header__title {
  top: 30%;
  font-size: 1.6rem;
}

.header__song-author {
  font-size: 1.2rem;
  opacity: 0.7;
  top: 33%;
}

.audio {
  margin-bottom: 100px;
  align-self: center;
}

/* Body */

.player {
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}

.player .icon-pause {
  display: none;
}

.playing .icon-pause {
  display: inline-block;
}

.playing .icon-play {
  display: none;
}

.btn {
  width: 30px;
  height: 30px;
  font-size: 3rem;
  color: orange;
}

.prev-btn {
  font-size: 3rem;
  color: orange;
  transform: rotate(180deg);
}
